<?xml version="1.0" encoding="UTF-8"?>
<plugin
   id="service-management"
   name="Management Service Plug-in"
   version="1.0.0"
   provider-name="HSearch Initiative">

   <runtime>
      <library name="service-management.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="extensionpoints"/>
   </requires>

   <extension id="com.bizosys.hsearch.management"
              name="Management Service"
              point="com.bizosys.oneline.services.Service">

      <implementation id="management"
          class="com.bizosys.hsearch.ManagementService">

        <parameter name="name" value="Management Service"/>
        <parameter name="logo" value=""/>
        <parameter name="tags" value="welcome"/>
        <parameter name="url" value="service/management"/>
      </implementation>

   </extension>

</plugin>
